In [21]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-06-12 22:35:50,-46.6000,168.3333,43.81,80,98,34.02
1,1,Muros,ES,2022-06-12 22:35:50,42.7762,-9.0603,69.15,71,45,14.70
2,2,Vaini,TO,2022-06-12 22:35:51,-21.2000,-175.2000,80.76,89,40,9.22
3,3,Ushuaia,AR,2022-06-12 22:35:51,-54.8000,-68.3000,42.46,93,40,11.50
4,4,Mayor Pablo Lagerenza,PY,2022-06-12 22:35:52,-19.9309,-60.7718,54.05,26,0,3.53

In [23]:
# check the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [24]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [25]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Muros,ES,2022-06-12 22:35:50,42.7762,-9.0603,69.15,71,45,14.70
4,4,Mayor Pablo Lagerenza,PY,2022-06-12 22:35:52,-19.9309,-60.7718,54.05,26,0,3.53
6,6,Kruisfontein,ZA,2022-06-12 22:35:53,-34.0033,24.7314,68.88,35,100,5.84
7,7,La Ronge,CA,2022-06-12 22:35:53,55.1001,-105.2842,61.05,67,75,9.22
8,8,Shubarshi,KZ,2022-06-12 22:35:54,48.5872,57.1869,59.20,79,44,11.10
10,10,Khatanga,RU,2022-06-12 22:35:54,71.9667,102.5000,61.92,40,100,10.78
13,13,Petropavlovsk-Kamchatskiy,RU,2022-06-12 22:31:15,53.0452,158.6483,55.99,51,0,6.71
15,15,Los Llanos De Aridane,ES,2022-06-12 22:35:56,28.6585,-17.9182,67.75,94,100,8.05
16,16,Irtyshskiy,RU,2022-06-12 22:35:57,58.3333,68.1333,55.54,97,100,9.10
19,19,Fortuna,US,2022-06-12 22:35:58,40.5982,-124.1573,61.14,88,100,13.80

In [32]:
# check for null values
preferred_cities_df.count()

City_ID       304
City          304
Country       298
Date          304
Lat           304
Lng           304
Max Temp      304
Humidity      304
Cloudiness    304
Wind Speed    304
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
1                       Muros      ES     69.15  42.7762   -9.0603
4       Mayor Pablo Lagerenza      PY     54.05 -19.9309  -60.7718
6                Kruisfontein      ZA     68.88 -34.0033   24.7314
7                    La Ronge      CA     61.05  55.1001 -105.2842
8                   Shubarshi      KZ     59.20  48.5872   57.1869
10                   Khatanga      RU     61.92  71.9667  102.5000
13  Petropavlovsk-Kamchatskiy      RU     55.99  53.0452  158.6483
15      Los Llanos De Aridane      ES     67.75  28.6585  -17.9182
16                 Irtyshskiy      RU     55.54  58.3333   68.1333
19                    Fortuna      US     61.14  40.5982 -124.1573

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
# verify that the hotel_df was updated
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Muros,ES,69.15,42.7762,-9.0603,Apartment Av. Castelao
4,Mayor Pablo Lagerenza,PY,54.05,-19.9309,-60.7718,
6,Kruisfontein,ZA,68.88,-34.0033,24.7314,Oyster Bay House Rental
7,La Ronge,CA,61.05,55.1001,-105.2842,Northland Motor Hotel
8,Shubarshi,KZ,59.20,48.5872,57.1869,
10,Khatanga,RU,61.92,71.9667,102.5000,"""Khatanga"""
13,Petropavlovsk-Kamchatskiy,RU,55.99,53.0452,158.6483,The Hotel Petropavlovsky
15,Los Llanos De Aridane,ES,67.75,28.6585,-17.9182,Valle Aridane
16,Irtyshskiy,RU,55.54,58.3333,68.1333,
19,Fortuna,US,61.14,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [38]:
# import numpy
import numpy as np

# Replace "empty" rows with NaN
hotel_df["Hotel Name"].replace("", np.nan, inplace = True)
hotel_df = hotel_df.dropna()
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Muros,ES,69.15,42.7762,-9.0603,Apartment Av. Castelao
6,Kruisfontein,ZA,68.88,-34.0033,24.7314,Oyster Bay House Rental
7,La Ronge,CA,61.05,55.1001,-105.2842,Northland Motor Hotel
10,Khatanga,RU,61.92,71.9667,102.5000,"""Khatanga"""
13,Petropavlovsk-Kamchatskiy,RU,55.99,53.0452,158.6483,The Hotel Petropavlovsky
15,Los Llanos De Aridane,ES,67.75,28.6585,-17.9182,Valle Aridane
19,Fortuna,US,61.14,40.5982,-124.1573,Super 8 by Wyndham Fortuna
20,Saint-Pierre,RE,70.92,-21.3393,55.4781,Alize Plage
21,Torbay,CA,69.76,47.6666,-52.7314,Gallows Cove
29,Esperance,AU,53.44,-33.8667,121.9000,Hospitality Esperance
33,Hofn,IS,50.18,64.2539,-15.2082,Hótel Höfn
35,Vila Velha,BR,71.55,-20.3297,-40.2925,Hotel Vitória Palace
37,Sao Filipe,CV,73.54,14.8961,-24.4956,Hotel Xaguate
38,Vitim,RU,56.46,59.4511,112.5578,Gostinitsa V Apteke
43,Hermanus,ZA,65.80,-34.4187,19.2345,Misty Waves Boutique Hotel

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))