In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-06-12 22:35:50,-46.6000,168.3333,43.81,80,98,34.02
1,1,Muros,ES,2022-06-12 22:35:50,42.7762,-9.0603,69.15,71,45,14.70
2,2,Vaini,TO,2022-06-12 22:35:51,-21.2000,-175.2000,80.76,89,40,9.22
3,3,Ushuaia,AR,2022-06-12 22:35:51,-54.8000,-68.3000,42.46,93,40,11.50
4,4,Mayor Pablo Lagerenza,PY,2022-06-12 22:35:52,-19.9309,-60.7718,54.05,26,0,3.53

In [3]:
# check the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2022-06-12 22:35:51,-21.2000,-175.2000,80.76,89,40,9.22
5,5,Butaritari,KI,2022-06-12 22:35:52,3.0707,172.7902,82.24,69,15,13.47
9,9,East London,ZA,2022-06-12 22:35:54,-33.0153,27.9116,75.90,29,100,11.59
11,11,Riyadh,SA,2022-06-12 22:35:03,24.6877,46.7219,86.14,14,0,2.51
17,17,Atuona,PF,2022-06-12 22:35:57,-9.8000,-139.0333,77.90,67,73,16.42
22,22,Port Alfred,ZA,2022-06-12 22:35:59,-33.5906,26.8910,78.19,26,100,8.99
23,23,Bathsheba,BB,2022-06-12 22:36:00,13.2167,-59.5167,83.01,78,20,19.57
28,28,Kapaa,US,2022-06-12 22:34:53,22.0752,-159.3190,84.18,74,20,16.11
30,30,Tevaitoa,PF,2022-06-12 22:36:02,-16.7833,-151.5000,79.41,74,57,23.76
31,31,Bacolod,PH,2022-06-12 22:36:03,10.6667,122.9500,80.94,77,93,0.98

In [17]:
# check for null values
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2         Vaini      TO     80.76 -21.2000 -175.2000
5    Butaritari      KI     82.24   3.0707  172.7902
9   East London      ZA     75.90 -33.0153   27.9116
11       Riyadh      SA     86.14  24.6877   46.7219
17       Atuona      PF     77.90  -9.8000 -139.0333
22  Port Alfred      ZA     78.19 -33.5906   26.8910
23    Bathsheba      BB     83.01  13.2167  -59.5167
28        Kapaa      US     84.18  22.0752 -159.3190
30     Tevaitoa      PF     79.41 -16.7833 -151.5000
31      Bacolod      PH     80.94  10.6667  122.9500

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# verify that the hotel_df was updated
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
5,Butaritari,KI,82.24,3.0707,172.7902,Isles Sunset Lodge
9,East London,ZA,75.90,-33.0153,27.9116,Tu Casa
11,Riyadh,SA,86.14,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
17,Atuona,PF,77.90,-9.8000,-139.0333,Villa Enata
22,Port Alfred,ZA,78.19,-33.5906,26.8910,The Halyards Hotel
23,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
28,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Tevaitoa,PF,79.41,-16.7833,-151.5000,Hôtel Raiatea Lodge
31,Bacolod,PH,80.94,10.6667,122.9500,Planta Hotel & Residences

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))